
.app {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100vh;
}

.input-container {
    grid-column: 1/2;
}

.task-container {
    grid-column: 2/3;
    border: 1px solid red;
    
}

.task-card {
   height: 100px;
   display: grid;
   align-items: center;
   grid-template-columns: 1fr 3fr 1fr;
   background-color: aqua;
   
}

.input-box-true {
    text-decoration: line-through;
}

.task-checkbox {
    grid-column: 1/2;
    height: 20px;
}

.task-info {
    grid-column: 2/3;
    
   
}

.task-btn {
    grid-column: 3/4;
   
}


